@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Festive&family=Great+Vibes&family=Lobster&family=Redressed&family=Satisfy&family=Syne+Mono&family=ZCOOL+QingKe+HuangYou&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.section-center{
    max-width:70rem;
    width:90vw;
    min-height:100vh;
    text-align: center;
    position:absolute;
    top:10%;     
}
.section-center h3{
    color:#ff7f50;
    font-family: 'Syne Mono',monospace;
    text-transform: uppercase;
    margin-bottom:30px;
    line-height:1.5;
    letter-spacing:0.1em;
}
.lorem{
    display:flex;
    justify-content: center;
    align-items: center;
}
.lorem label{
    color:#f94d00;
    font-weight:900;
    font-size:20px;
    letter-spacing: 0.1em;
    font-family:'Redressed',cursive;
}
#amount{
    width:7%;
    padding:5px;
    background:#ffa07a;
    border:none;
    border-radius: 20px 10px;
}
input::placeholder{
    color:#000;
    text-align: center;
    font-size:18px;
}
.btn{
    border:none;
    background:#ffdab9;
    padding:10px 15px;
    border-radius: 30px;
    color:#333;
    text-transform: uppercase;
    margin-left:30px;
    cursor:pointer;
    transition:all 0.3s linear;
}
.btn:hover{
   color:#f94d00;
   font-weight: bolder;
}
 .lorem-text{
    max-width:25rem;
    margin-top:30px;
    font-size:18px;
    letter-spacing: 0.1em;
    font-family: 'Satisfy',cursive;
    word-spacing: 0.1em;
}
